body {
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
 margin-left: 20px;
}
#main .add_cont{
  padding: 20px;
}
.inl{
  display: inline;
}
.left{
  float: left;
}
.right{
  float: right;
}
.profile_cont{
  margin: 30px;
}
.add_car_h{
  font-size: 1.5em;
}
.car_cont{
  margin-top: 40px
}
#main .create_cont{
  padding: 1%;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}
#main .header a {
  color: white;
  text-decoration: none;
}
